$color_1: black;
$color_2: whitesmoke;
$color_3: #fbff00;
$font-family_1: 'Inter', sans-serif;
$font-family_2: inherit;
$background-color_1: rgba(0, 0, 0, 1);
$background-color_2: rgba(0, 0, 0, 0.5);
$background-color_3: rgba(255, 255, 255, 1);
$background-color_4: rgba(255, 255, 255, 0.5);

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
	border-top: 1vh solid #000000;
	font-family: $font-family_2;
}
.menu {
	top: 0;
	z-index: 10;
	position: -webkit-sticky;
	position: sticky;
	a {
		text-decoration: none;
		padding: 5px;
		border-radius: 3px;
		font-size: large;
		text-transform: capitalize;
		color: $color_1;
		&:hover {
			background-color: $background-color_1;
			color: $color_2;
		}
	}
}
.landscape {
	height: 60px;
	min-height: 6vh;
	background-color: $background-color_4;
	transition: 0.3s;
	&:hover {
		background-color: $background-color_3;
		transition: 0.3s;
	}
	h1 {
		padding-left: 16px;
		float: left;
		margin-top: 2px;
		a {
			font-size: 25px;
		}
	}
	ul {
		float: right;
		margin: 0;
		padding: 16px;
	}
	li {
		display: inline;
		margin: 14px 20px;
	}
}
.dropdown {
	position: relative;
	display: none;
}
.dropbtn {
	background-color: $background-color_4;
	border-radius: 2px;
	text-align: center;
	font-size: 16px;
	border: none;
	cursor: pointer;
	padding: 5px;
	margin: 5px;
	&:hover {
		background-color: $background-color_1;
		color: $color_2;
	}
	&:focus {
		background-color: $background-color_1;
		color: $color_2;
	}
}
button {
	margin: 0;
	border-radius: 0;
}
.dropdown-content {
	background-color: $background-color_4;
	display: none;
	position: absolute;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	a {
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
}
.show {
	display: block;
}
.banner-area {
	width: 100%;
	height: 93vh;
	position: relative;
	z-index: -2;
	top: 0px;
	background-image: url(../assets/traveller.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.seccion-vanguardia {
	height: 100vh;
	padding-top: 4%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
	transition: 0.5s;
	background-image: url(../assets/supers_bg_desktop.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	.vang {
		transition: 0.5s;
		&:hover {
			transform: scale(1.1);
			transition: 0.5s;
		}
	}
	.tl {
		transform: scale(0.3);
		margin-bottom: -60%;
		margin-top: -20%;
	}
	p {
		padding: 2%;
		color: $color_2;
		font-family: $font-family_2;
		background-color: $background-color_2;
	}
}
.titanes {
	p {
		border-top: 5px solid #990000e6;
	}
}
.cazadores {
	p {
		border-top: 5px solid #1e4263e6;
	}
}
.hechiceros {
	p {
		border-top: 5px solid #846c18e6;
	}
}
.seccion-destinos {
	background-image: url(../assets/clift.jpeg);
	padding: 7vh;
	p {
		-webkit-text-stroke: 1px rgba(0, 0, 0, 0.6);
	}
}
.carousel-mod {
	height: 86vh;
}
h3 {
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.6);
}
.seccion-grimorio {
	height: 100vh;
	padding-top: 12%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
	background-image: url(../assets/hiveb.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	.grim {
		transition: 0.5s;
		&:hover {
			transform: scale(1.1);
			transition: 0.5s;
			span {
				display: block;
			}
		}
	}
	span {
		font-size: 30px;
		text-align: center;
		color: $color_4;
		text-shadow: 1px #251E21;
		background-color: $background-color_2;
		transition: 500ms;
		margin-top: -30%;
		display: none;
	}
}
.seccion-eventos {
	padding-top: 60px;
	padding-bottom: 80px;
	background-image: url(../assets/Haunted_Forest.webp);
	background-position: center center;
	background-size: cover;
	h2 {
		font-size: x-large;
		text-align: center;
		color: $color_2;
		background-color: $background-color_2;
		transition: 500ms;
		opacity: 0;
	}
	p {
		text-align: center;
		font-size: large;
		margin-left: 10%;
		margin-right: 10%;
		color: $color_2;
		text-shadow: 1px #251E21;
		background-color: $background-color_2;
		transition: 500ms;
		opacity: 0;
	}
}
.eq {
	&:hover {
		p {
			transition: 500ms;
			opacity: 1;
		}
		h2 {
			transition: 500ms;
			opacity: 1;
		}
	}
	height: 300px;
	margin-bottom: 15px;
	border: 1px solid white;
	background-position: center center;
	background-size: cover;
}
.ev1 {
	background-image: url(../assets/fest2.jpg);
}
.ev2 {
	background-image: url(../assets/juegos.jpg);
}
.ev3 {
	background-image: url(../assets/iron.jpg);
}
.ev4 {
	background-image: url(../assets/dawn.jpg);
}
.voluntariado {
	background-image: url(../assets/torre.jpg);
	padding: 10px;
	color: $color_1;
	display: flex;
	flex-direction: row;
	div {
		width: 100%;
		height: 200px;
		background-image: url(../assets/m_tower_pano.jpg);
		background-position: center center;
		background-size: cover;
	}
	p {
		padding: 15px;
		background-color: $background-color_2;
		height: 200px;
		width: 240px;
		float: right;
		color: $color_2;
	}
}
.seccion-voluntario {
	background-image: url(../assets/torre.jpg);
	background-position: center center;
	background-size: cover;
	height: 86vh;
}
.form {
	top: 20px;
	padding-top: 10%;
	margin: 0 10% 10% 10%;
}
input {
	outline: none;
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 100%;
	font-size: 14px;
	font-family: $font-family_2;
}
.input-group {
	position: relative;
	margin-bottom: 33px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.is {
	padding: 5px 0;
	font-size: 16px;
	color: $color_1;
	background: transparent;
}
.card-body {
	background-color: $background-color_4;
	padding: 57px 65px;
	padding-bottom: 45px;
	display: table-cell;
	border-radius: 15px;
}
footer {
	min-height: 50px;
	height: 7vh;
	display: flex;
	background: #251E21;
	color: $color_2;
	font-family: $font-family_2;
	align-items: center;
}
.footer-izq {
	display: flex;
	align-items: center;
	column-gap: 10px;
	margin: 10px;
}
.footer-der {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	align-items: center;
	column-gap: 10px;
}
@media (max-width: 768px) {
	.dropdown {
		display: inline-block;
	}
	.landscape {
		display: none;
	}
	.ob {
		display: block;
	}
	.seccion-voluntario {
		height: 100vh;
	}
}