* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  border-top: 1vh solid #000000;
  font-family: inherit;
}
.menu {
  top: 0;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
}
.menu a {
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  font-size: large;
  text-transform: capitalize;
  color: black;
}
.menu a:hover {
  background-color: black;
  color: whitesmoke;
}
.landscape {
  height: 60px;
  min-height: 6vh;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}
.landscape:hover {
  background-color: white;
  transition: 0.3s;
}
.landscape h1 {
  padding-left: 16px;
  float: left;
  margin-top: 2px;
}
.landscape h1 a {
  font-size: 25px;
}
.landscape ul {
  float: right;
  margin: 0;
  padding: 16px;
}
.landscape li {
  display: inline;
  margin: 14px 20px;
}
.dropdown {
  position: relative;
  display: none;
}
.dropbtn {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}
.dropbtn:hover {
  background-color: black;
  color: whitesmoke;
}
.dropbtn:focus {
  background-color: black;
  color: whitesmoke;
}
button {
  margin: 0;
  border-radius: 0;
}
.dropdown-content {
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show {
  display: block;
}
.banner-area {
  width: 100%;
  height: 93vh;
  position: relative;
  z-index: -2;
  top: 0px;
  background-image: url(../assets/traveller.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.seccion-vanguardia {
  height: 100vh;
  padding-top: 4%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  transition: 0.5s;
  background-image: url(../assets/supers_bg_desktop.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.seccion-vanguardia .vang {
  transition: 0.5s;
}
.seccion-vanguardia .vang:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.seccion-vanguardia .tl {
  transform: scale(0.3);
  margin-bottom: -60%;
  margin-top: -20%;
}
.seccion-vanguardia p {
  padding: 2%;
  color: whitesmoke;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}
.titanes p {
  border-top: 5px solid #990000e6;
}
.cazadores p {
  border-top: 5px solid #1e4263e6;
}
.hechiceros p {
  border-top: 5px solid #846c18e6;
}
.seccion-destinos {
  background-image: url(../assets/clift.jpeg);
  padding: 7vh;
}
.seccion-destinos p {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.6);
}
.carousel-mod {
  height: 86vh;
}
h3 {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.6);
}
.seccion-grimorio {
  height: 100vh;
  padding-top: 12%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-image: url(../assets/hiveb.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.seccion-grimorio .grim {
  transition: 0.5s;
}
.seccion-grimorio .grim:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.seccion-grimorio .grim:hover span {
  display: block;
}
.seccion-grimorio span {
  font-size: 30px;
  text-align: center;
  color: #fbff00;
  text-shadow: 1px #251E21;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 500ms;
  margin-top: -30%;
  display: none;
}
.seccion-eventos {
  padding-top: 60px;
  padding-bottom: 80px;
  background-image: url(../assets/Haunted_Forest.webp);
  background-position: center center;
  background-size: cover;
}
.seccion-eventos h2 {
  font-size: x-large;
  text-align: center;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 500ms;
  opacity: 0;
}
.seccion-eventos p {
  text-align: center;
  font-size: large;
  margin-left: 10%;
  margin-right: 10%;
  color: whitesmoke;
  text-shadow: 1px #251E21;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 500ms;
  opacity: 0;
}
.eq {
  height: 300px;
  margin-bottom: 15px;
  border: 1px solid white;
  background-position: center center;
  background-size: cover;
}
.eq:hover p {
  transition: 500ms;
  opacity: 1;
}
.eq:hover h2 {
  transition: 500ms;
  opacity: 1;
}
.ev1 {
  background-image: url(../assets/fest2.jpg);
}
.ev2 {
  background-image: url(../assets/juegos.jpg);
}
.ev3 {
  background-image: url(../assets/iron.jpg);
}
.ev4 {
  background-image: url(../assets/dawn.jpg);
}
.voluntariado {
  background-image: url(../assets/torre.jpg);
  padding: 10px;
  color: black;
  display: flex;
  flex-direction: row;
}
.voluntariado div {
  width: 100%;
  height: 200px;
  background-image: url(../assets/m_tower_pano.jpg);
  background-position: center center;
  background-size: cover;
}
.voluntariado p {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 240px;
  float: right;
  color: whitesmoke;
}
.seccion-voluntario {
  background-image: url(../assets/torre.jpg);
  background-position: center center;
  background-size: cover;
  height: 86vh;
}
.form {
  top: 20px;
  padding-top: 10%;
  margin: 0 10% 10% 10%;
}
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}
.input-group {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.is {
  padding: 5px 0;
  font-size: 16px;
  color: black;
  background: transparent;
}
.card-body {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 57px 65px;
  padding-bottom: 45px;
  display: table-cell;
  border-radius: 15px;
}
footer {
  min-height: 50px;
  height: 7vh;
  display: flex;
  background: #251E21;
  color: whitesmoke;
  font-family: inherit;
  align-items: center;
}
.footer-izq {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 10px;
}
.footer-der {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  column-gap: 10px;
}
@media (max-width: 768px) {
  .dropdown {
    display: inline-block;
  }
  .landscape {
    display: none;
  }
  .ob {
    display: block;
  }
  .seccion-voluntario {
    height: 100vh;
  }
}
